{
    'k': 6, 
    'precision':0.3,
    'filenames': {
        'R4' : 'R4/k6_R4_64cr.ipe',
        'R5' : 'R5/k6_R5.ipe',
        'R6' : 'R6/k6_R6.ipe',
    }, 
    'LGV3' : {
        'regions' : ['R3'],
        'patchsize' : 1000,
        'log_count' : 1397192,
    },
    'areas': {
        'R3' : '3/4',
        'R4' : '1/4', 
        'R5' : '1/4',
        'R6' : '1/4', 
    }
}
