{
    'k': 6, 
    'precision':0.3,
    'filenames': {
        'R4': 'R4/k6_small_R4.ipe', 
        'R5': 'R5/k6_small_R5.ipe', 
        'R6': 'R6/k6_small_R6.ipe'
    }, 
    'LGV3' : {
        'regions' : ['R3'],
        'patchsize' : 100,
    },
    'areas': {
        'R3' : '3/4',
        'R4' : '1/4', 
        'R5' : '1/4',
        'R6' : '1/4', 
    }
}
